# build output
dist/

# dependencies
node_modules/

# astro
.astro/

# env
.env
.env.production

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# os
.DS_Store
Thumbs.db

# editor
.vscode/
.idea/

# vercel
.vercel/

# changes dev notes
changes.MD
.vercel
.env*
